@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Parte 2 */

.stickerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stickers {
  display: flex;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}